body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #20278f;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.btn{
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10em;
    font-size: medium;
}
.btn a{
    text-decoration: none;
    color: inherit;
    background: none;
    border: none;
}

.btn:hover{
    background-color: #03358E;
    transition: 0.3s;
}