/* General body styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* FAQ title */
h2 {
    margin-top: 0;
    text-align: center;
}

/* Buttons */
.faq_perguntas {
    text-align: center;
    margin-bottom: 20px;
}

.btn {
    background-color: #3259d8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #16199c;
}

/* Search form */
form {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 200px;
    height: 30px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #3259d8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #16199c;
}

/* List styling */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* FAQ item styling */
li {
    background-color: #fff;
    padding: 1em;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
    max-width: 700px; /* Restrict width for centering */
    margin: 0 auto; /* Center the FAQ item */
}

li strong {
    font-weight: bold;
}

li em {
    font-style: italic;
    color: #666;
}

/* Nested lists for answers */
ul ul {
    margin-top: 10px;
    padding-left: 20px;
}

ul ul li {
    background-color: #f9f9f9;
    padding: 0.5em;
    margin-bottom: 10px;
    box-shadow: none;
    max-width: 650px; /* Restrict width for centering */
    margin: 0 auto; /* Center the answers */
}

ul ul li:hover {
    background-color: #f0f0f0;
}

/* Response form */
#respostaForm {
    display: none;
    margin-top: 10px;
    max-width: 650px; /* Restrict width for centering */
    margin: 0 auto; /* Center the form */
}

#respostaForm textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

#respostaForm button[type="submit"] {
    background-color: #3259d8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#respostaForm button[type="submit"]:hover {
    background-color: #16199c;
}
