<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acervo de Vídeos</title>

    <link rel="stylesheet" type="text/css" href="../../static/core/style_acervoDeVideos.css"> 

</head>
<body>

    <h1 style="text-align: center;">Acervo de Vídeos</h1>

    <!-- Filtro de setor -->
    <form method="GET" action="{% url 'acervo_videos' %}">
        <label for="setor">Filtrar por setor:</label>
        <select name="setor" id="setor">
            <option value="">Todos os setores</option>
            {% for setor in setores %}  
                <option value="{{ setor.id }}" {% if setor.id|stringformat:"s" == request.GET.setor %}selected{% endif %}>{{ setor.nome_setor }}</option>
            {% endfor %}
        </select>
        <button type="submit">Filtrar</button>
    </form>

    <h2>Lista de Vídeos</h2>

    <div class="video-container">
        {% for video in videos %}
            <div class="video-item">
                <h3>Nome: {{ video.nome_video }} - Setor: {{ video.setor.nome_setor }} </h3>
                <p>{{ video.descricao }}</p>
                
                <!-- Exibe o vídeo usando um iframe -->
                <iframe width="560" height="315" src="{{ video.url_video }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                <!-- Botão de deletar vídeo -->
                <form method="POST" action="{% url 'deletar_video' video.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja excluir este vídeo?')">Deletar</button>
                </form>
            </div>
        {% endfor %}
    </div>

    <div >
        <a href="{% url 'index' %}">Voltar para o inicio</a>
    </div>

</body>
</html>