{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastros Gerais</title>

    <link rel="stylesheet" type="text/css" href="{% static 'core/style_cad_geral.css' %}">
</head>
<body>

    <!-- Botão de menu -->
    <div class="open-sidebar" onclick="toggleSidebar()">&#9776;</div>

    <!-- Menu deslizante -->
    <div id="sidebar" class="sidebar">
        <!-- Botão para fechar o menu -->
        <a href="javascript:void(0)" class="closebtn" onclick="toggleSidebar()">&times;</a>

        <!-- Conteúdo do menu -->
        <div class="menu-title">Nome do Treinamento</div>
        <div class="submenu-title">Nome do Primeiro Módulo</div>
        <a href="#" class="submenu-item">Aulas</a>
        <a href="#" class="submenu-item">Materiais</a>
        <a href="#" class="submenu-item">Exercícios</a>
        
        <div class="submenu-title">Nome do Segundo Módulo</div>
        <a href="#" class="submenu-item">Aulas</a>
        <a href="#" class="submenu-item">Materiais</a>
    </div>

    <div class="header">
        &emsp;
        <span>👤 Nome_user___</span>
    </div>
    <hr>
    <h1 class="title"> Portal Do Administrador</h1>

    <div class="container">
        <div class="usuarios">
            <img class="img" src="../../static/images/usuario.png" alt="">
            <a href="{% url 'cadastro_usuario' %}">
                <button class="btn">Cadastrar Usuários</button>
            </a>

            <a href="{% url 'listar_usuario' %}">
            <button class="btn">Listar Usuarios</button>
            </a>
        </div>
        <div class="setores">
            <img class="img" src="../../static/images/setor.png" alt="">
            <a href="{% url 'cadastrar_setores' %}">
                <button class="btn">Cadastrar Setores</button>
            </a>



        </div>
        <div class="modulos">
            <img class="img" src="../../static/images/modulo.png" alt="">
            <a href="{% url 'cadastrar_modulos' %}">
                <button class="btn">Cadastrar modulos</button>
            </a>
        </div>
        <div class="treinamentos">
            <img class="img" src="../../static/images/treinamento.jpg" alt="">
            <!-- <a href="{% url 'adicionar_video' %}"> -->
            <a href="">
                <button class="btn">Cadastro de Treinamentos</button>
            </a>
           
        </div>
        <div class="conteudos">
            <img class="img" src="../../static/images/conteudo.png" alt="">
            <button class="btn"><a href="{% url 'cadastro_material' %}">Conteúdos</a></button>
        </div>
    </div>
    <div class="voltar">
        <button class="btn"><a href="./portal_admin">VOLTAR</a></button>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', validaUsu);
    </script>

    <script>
        // Função para abrir e fechar o menu
        function toggleSidebar() {
            document.getElementById("sidebar").classList.toggle("active");
        }
    </script>
</body>
</html>