<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de modulos</title>

    <link rel="stylesheet" type="text/css" href="../../static/core/style-cadastro-modulos.css">

</head>
<body>
    <h1>Cadastrar Módulo</h1>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Cadastrar</button>
</form>

<div class="btn">
    <a href="{% url 'cadastro_geral' %}">Voltar para o inicio</a>
</div> 
</body>
</html>