<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastros de Perguntas</title>

    <link rel="stylesheet" type="text/css" href="../../static/core/style_cadastro_perguntas.css">

</head>
<body>


  {% block content %}
  <div class="container">
    <h2>Cadastro de Pergunta</h2>
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="username">Nome de Usuário:</label>
        {{ form.username }}
      </div>
      <div class="form-group">
        <label for="tipo_pergunta">Tipo de Pergunta:</label>
        {{ form.tipo_pergunta }}
      </div>
      <div class="form-group">
        <label for="texto_pergunta">Pergunta:</label>
        {{ form.texto_pergunta }}
      </div>
      <button type="submit" class="btn">Enviar Pergunta</button>
    </form>
  </div>
{% endblock %}

</body>
</html>