<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAQ</title>
    <link rel="stylesheet" type="text/css" href="../../static/core/style_faq.css">
</head>
<body>
    <h1 class="title">FAQ </h1>
    <h4 class="title_desq">Perguntas Frequentes</h4>
    <div class="faq_perguntas">
        <a href="{% url 'cadastro_pergunta' %}">
            <button class="btn">Fazer uma pergunta</button>
        </a>
    </div>

    <!-- Formulário de pesquisa -->
    <form method="GET" action="{% url 'faq' %}" class="form-pesquisa">
        <input type="text" name="q" value="{{ query }}" placeholder="Pesquisar por username">
        <button type="submit">Pesquisar</button>
    </form>

    <!-- Exibe as perguntas filtradas ou todas -->
    <ul>
        {% for pergunta in perguntas %}
            <li>
                <strong>{{ pergunta.tipo_pergunta.tipo }}</strong>: {{ pergunta.texto_pergunta }}
                <br><em>Enviado por: {{ pergunta.usuario.username }} em {{ pergunta.data_criacao|date:"d/m/Y H:i" }}</em>
                
                <!-- Exibe respostas associadas à pergunta -->
                <ul>
                    <h3>Respostas:</h3>
                    {% for resposta in pergunta.respostas.all %}
                        <li>{{ resposta.texto_resposta }} <br></li>
                    {% empty %}
                        <li>Nenhuma resposta ainda.</li>
                    {% endfor %}
                </ul>

                <!-- Formulário de resposta -->
                <button class="btn" type="button" onclick="document.getElementById('respostaForm{{ pergunta.id }}').style.display='block'">Responder</button>
                <div id="respostaForm{{ pergunta.id }}" style="display:none; margin-top: 10px;">
                    <form method="POST" action="{% url 'faq' %}">
                        {% csrf_token %}
                        <textarea name="texto_resposta" rows="3" class="form-control" placeholder="Escreva sua resposta aqui..."></textarea>
                        <input type="hidden" name="pergunta_id" value="{{ pergunta.id }}">
                        <button class="btn" type="submit" style="width: 55px; height: 36px; border-radius: 3px; font-size: 13px;" >Enviar</button>
                    </form>
                </div>

                <!-- Botão de deletar pergunta -->
                <form method="POST" action="{% url 'deletar_pergunta' pergunta.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja excluir esta pergunta?')">Deletar</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
