<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Listar Usuários</title>
    <link rel="stylesheet" type="text/css" href="../../static/core/style_listar_usuario.css">
</head>
<body>
    <h1>Lista de Usuários</h1>
    <table>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Data de Registro</th>
            <th>Ações</th>
        </tr>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.username }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.date_joined }}</td>
            <td>
                <form method="POST" action="{% url 'deletar_usuario' usuario.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja excluir este usuário?')">Deletar</button>
                </form>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Nenhum usuário encontrado.</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <div class="mt-3">
        <a href="{% url 'cadastro_geral' %}" class="btn"><button>Voltar para o inicio</button></a>
    </div> 
    <br>
    <div class="mt-3">
        <a href="{% url 'cadastro_usuario' %}" class="btn"><button>Voltar</button></a>
    </div>
</body>
</html>
