{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal do Administrador</title>

    <link rel="stylesheet" type="text/css" href="{% static 'core/admin.css' %}">
</head>
<body>

    <!-- Botão de menu -->
    <div class="open-sidebar" onclick="toggleSidebar()">&#9776;</div>

    <!-- Menu deslizante -->
    <div id="sidebar" class="sidebar">
        <!-- Botão para fechar o menu -->
        <a href="javascript:void(0)" class="closebtn" onclick="toggleSidebar()">&times;</a>

        <!-- Conteúdo do menu -->
        <div class="menu-title">Nome do Treinamento</div>
        <div class="submenu-title">Nome do Primeiro Módulo</div>
        <a href="#" class="submenu-item">Aulas</a>
        <a href="#" class="submenu-item">Materiais</a>
        <a href="#" class="submenu-item">Exercícios</a>
        
        <div class="submenu-title">Nome do Segundo Módulo</div>
        <a href="#" class="submenu-item">Aulas</a>
        <a href="#" class="submenu-item">Materiais</a>
    </div>

    <div class="header">
        &emsp;
        <span>👤 Nome_user___</span>
    </div>
    <hr>
    <h1 class="titulo"> Portal Do Administrador</h1>

    <div class="container">
        <div class="cadastros">
            <img class="img" src="../../static/images/cadastro.png" alt="">
            <button class="btn"><a href="cadastro_geral">Cadastros</a> </button>
        </div>
        <div class="treinamentos">
            <img class="img" src="../../static/images/treinamento.jpg" alt="">
            <button class="btn"><a href="acervo_videos">Treinamentos</a></button>
        </div>
        <div class="faq">
            <img class="img" src="../../static/images/faq.jpg" alt="">
            <a href="{% url 'faq' %}">
                <button class="btn">FAQ</button>
            </a>
        </div>
        
    </div>
    <div class="voltar">
        <button class="btn"><a href="login">VOLTAR</a></button>
    </div>

    <script>
        // Função para abrir e fechar o menu
        function toggleSidebar() {
            document.getElementById("sidebar").classList.toggle("active");
        }
    </script>

    <script src="{% static 'js/script.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', validaUsu);
    </script>
</body>
</html>